.skin-black .main-header .logo {
    background-color: rgba(21, 21, 21, 0.55);
}

.skin-black .main-header .navbar {
    background-color: #151515;
}

.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #151515;
}

.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a {
    background: #252525;
    border-left-color: #333333;
}

.skin-black .sidebar a, .main-header .sidebar-toggle {
    color: #cecece;
}

.main-header .sidebar-toggle,
.skin-black .main-header .logo {
    border: 0 !important;
}

.skin-black .main-header .logo:hover {
    background: rgba(21, 21, 21, 0.55);;
}

div#datatable_filter.dataTables_filter,
div#datatable_paginate.dataTables_paginate.paging_simple_numbers {
    text-align: right;
}

.dataTables_scrollHead table {
    margin-bottom: 0 !important;
}

.alert {
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* FEEDBACK */
.attachment-pushed .attachment-heading {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    margin: 0 0 4px;
}

.user-block .username, .user-block .description, .user-block .comment {
    margin-left: 0;
}

/* BOX COMMENTS */
.box-comments .box-comment .box-comment {
    /*border-top: 1px solid #eee;*/
    padding-left: 30px;
}

.box-comments.reply {
    border-top: 1px solid #eee;
    padding-top: 8px;
    margin-top: 8px;
}

.comment-text .action {
    margin: 8px 0 0;
}

.box-comments .comment-text {
    margin-left: 0;
}

.resolved {
    color: green;
}

.box-comment:hover .usr-d-post {
    display: none !important;
}

.box-comment:hover .usr-action {
    display: block !important;
}

.rating-input.input-sm {
    font-size: 26px;
    color: #ffe000;
    margin-top: -10px;
}

.rating-input.input-lg {
    font-size: 34px;
    color: #ffe000;
}

.rating-input.input-lg i, .rating-input.input-sm i {
    margin-left: 5px;
}

.rating-input.input-md {

}

/*  BOOTSTRAP WYSIWIG */
.wysihtml5-toolbar .btn-group > .btn,
.wysihtml5-toolbar .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* Orders page */
table#datatable {
    border: none;
}

#datatable_wrapper > div:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
}

#datatable_wrapper > div:nth-child(2) > div {
    overflow-x: scroll;
    padding: 0;
    border: 1px solid rgb(244, 244, 244);
}

div#datatable_wrapper {
    overflow: hidden;
}